<a name="contato"></a>
<div class="field">
  <label class="label">Nome</label>
  <div class="control">
    <input
      class="input"
      type="text"
      placeholder="Nome completo"
      name="name"
      ngModel
      maxlength="50"
      ngModel
      minlength="2"
    />
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control has-icons-left has-icons-right">
    <input
      class="input"
      type="email"
      placeholder="hello@"
      name="email"
      ngModel
      email
    />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </div>
</div>

<div class="field">
  <label class="label">Assunto</label>
  <div class="control">
    <input
      class="input"
      type="text"
      placeholder="Assunto"
      name="assunto"
      ngModel
      maxlength="50"
      ngModel
      minlength="2"
    />
  </div>
</div>

<div class="field">
  <label class="label">Mensagem</label>
  <div class="control">
    <textarea
      class="textarea"
      placeholder="Escreva sua mensagem"
      name="mensagem"
      ngModel
      maxlength="300"
      ngModel
      minlength="2"
    ></textarea>
  </div>
</div>

<div class="field is-grouped">
  <div class="control button__form">
    <button class="button">Enviar mensagem</button>
  </div>
</div>
