<header class="header">
  <div class="header__brand">
    <div class="header__brand__icon"></div>
    <p class="header__brand__name">Barbara Coelho</p>
  </div>
  <nav class="header__menu">
    <ul class="header__menu-itens">
      <li class="header__menu-item"><a href="#sobre-mim">Sobre mim</a></li>
      <li class="header__menu-item"><a href="#skills">Skills</a></li>
      <li class="header__menu-item"><a href="#skills">Hobbies</a></li>
      <li class="header__menu-item"><a href="#formacao">Formação</a></li>
      <li class="header__menu-item"><a href="#experiencia">Projetos</a></li>
      <li class="header__menu-item header__menu-item--email">
        <address>
          <a href="mailto:balicoelho@gmail.com"> balicoelho@gmail.com</a>
        </address>
      </li>
      <!-- <li>
        <button class="generate-pdf" (click)="gerarPDF()">Gerar PDF</button>
      </li> -->
    </ul>
  </nav>
</header>
