<a name="sobre-mim"></a>
<div class="sobre__container">
  <h1 class="sobre__title">Sobre mim</h1>
  <p class="sobre__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facilis
    harum quo vitae soluta ipsam nesciunt consequuntur natus perferendis?
    Eveniet, culpa delectus sequi necessitatibus labore expedita beatae cum?
    Tempora perspiciatis reiciendis atque ducimus cupiditate, asperiores
    voluptatem necessitatibus excepturi saepe. Eum.
  </p>
  <img
    src="../../../assets/img/signature.svg"
    alt="signature"
    class="sobre__signature"
  />
</div>
