<div class="apresentacao__container">
  <img
    class="apresentacao__img"
    src="https://media.licdn.com/dms/image/C4E03AQEKQY8F9w6pQw/profile-displayphoto-shrink_800_800/0/1614195445052?e=1692230400&v=beta&t=Dq0XarEGKsI3dm6KHETRPp1X3cetvXH3_EFlcj4neQo"
    alt="Foto-pessoal"
  />
  <div class="apresentacao__content">
    <h1 class="apresentacao__title">
      Olá, meu nome é Barbara Coelho e construo páginas web
    </h1>
    <p class="apresentacao__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit corporis
      veritatis ipsa, temporibus incidunt placeat praesentium minus repellendus
      quibusdam iure.
    </p>
    <ul class="apresentacao__links">
      <li class="apresentacao__link">
        <a href="https://github.com/balicoelho" target="_blank"
          >Github
          <i class="bi bi-arrow-up-right"></i>
        </a>
      </li>
      <li class="apresentacao__link">
        <a href="https://www.linkedin.com/in/balicoelho/" target="_blank"
          >Linkedin<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
      <li class="apresentacao__link">
        <a href="https://www.instagram.com/balicoelho/" target="_blank"
          >Instagram<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
      <li class="apresentacao__link">
        <a href="https://balicoelho.github.io/cv/" target="_blank"
          >Curriculo<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
