<div class="apresentacao__container">
  <img
    class="apresentacao__img"
    src="./assets/img/foto-pessoal.jpg"
    alt="Foto-pessoal"
  />
  <div class="apresentacao__content">
    <h1 class="apresentacao__title">
      Olá, meu nome é Barbara Coelho e construo páginas web
    </h1>
    <p class="apresentacao__text">
      Sou formada em Engenharia de Produção e atualmente estou participando de
      dois projetos: Oracle ONE na Alura, e Desenvolvimento de Software da Cubos
      Academy.
    </p>
    <ul class="apresentacao__links">
      <li class="apresentacao__link">
        <a href="https://github.com/balicoelho" target="_blank"
          >Github
          <i class="bi bi-arrow-up-right"></i>
        </a>
      </li>
      <li class="apresentacao__link">
        <a href="https://www.linkedin.com/in/balicoelho/" target="_blank"
          >Linkedin<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
      <li class="apresentacao__link">
        <a href="https://www.instagram.com/balicoelho/" target="_blank"
          >Instagram<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
      <li class="apresentacao__link">
        <a href="https://balicoelho.github.io/cv/" target="_blank"
          >Curriculo<i class="bi bi-arrow-up-right"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
