<a name="skills"></a>
<div class="container__skills">
  <h1 class="skills__title">Skills</h1>
  <div class="skills__cards">
    <app-card-skills
      class="skill__cards-card"
      [iconName]="'fa-brands fa-html5'"
      [language]="'HTML5'"
    ></app-card-skills>
    <app-card-skills
      class="skill__cards-card"
      [iconName]="'fa-brands fa-css3'"
      [language]="'CSS3'"
    ></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
  </div>
  <h1 class="skills__title">Hobbies</h1>
  <div class="skills__cards">
    <app-card-skills
      class="skill__cards-card"
      [iconName]="'music'"
      [language]="'Music'"
    ></app-card-skills>
    <app-card-skills
      class="skill__cards-card"
      [iconName]="'sports'"
      [language]="'Sports'"
    ></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
    <app-card-skills class="skill__cards-card"></app-card-skills>
  </div>
</div>
